logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*



##Maven##
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

##Eclipse##
.classpath
.project
.settings/

##Logs##
*.log
*.log.*

